body {
    background: #ccc;
    padding: 0px;
    margin: 0px;
}

h1 {
    background: #f00;
    color: white;
    padding: 5px;
    font-variant: small-caps;
}

#content {
	position: relative;
	width: 700px;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
#content:before, #content:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
}
#content:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}

#loginlink {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 20px;
}

#loginlink a {
	color: white;
}
#loginlink a:link {
    text-decoration: none;
}

form.login {
    border-radius: 25px;
	border: 1px solid black;
	background: #ccc;
    padding: 20px; 
    width: 200px;
}

#noticefail {
    border-radius: 25px;
	border: 1px solid black;
	background: #f88;
    padding: 20px; 
    width: 200px;
}

#noticesuccess {
    border-radius: 25px;
	border: 1px solid black;
	background: #8f8;
    padding: 20px; 
    width: 200px;
}
